<h2>Restaurar contrasena</h2>

<form action="" id="forgotPasswordForm">
    <label for="">Dame tu correo</label>
    <input type="email" name="email">
   
    <label for="">Contrasena</label>
    <input type="password" name="password">
    
    <button type="submit">crear nueva contrasena</button>
</form>

<br>
<a href="/login">Volver a Login</a>

<script src="/js/forgotPassword.js"></script>