<h2>Login</h2>

<form action="" id="formLogin">
    <label for="">Usuario</label>
    <input type="email" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button type="submit">Iniciar Sesion</button>
</form>

<br>
<a href="/forgotPassword">Forgot Password</a>
<br>
<br>
<a href="/signup">Registrarme</a>

<script src="/js/login.js"></script>