<h2>Registro</h2>

<form action="" id="formSignup">
    <label for="">Nombre</label>
    <input type="text" name="first_name">
    <label for="">Apellido</label>
    <input type="text" name="last_name">
    <label for="">Edad</label>
    <input type="text" name="age">
    <label for="">Correo Electronico</label>
    <input type="email" name="email">
    <label for="">Contrasena</label>
    <input type="password" name="password">

    <button type="submit">Crear Usuario</button>
</form>

<br>
<a href="/login">Iniciar Sesion</a>

<script src="/js/signup.js"></script>